/* some custom css for freelancer */
.navbar-default {
	background-color: purple !important;
}

.fc-view>table {
    background-color: white !important;
    color: black !important;
}
.fc-content {
    cursor: pointer;
}
.btn-xsm {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
section {
	padding: 110px 0px !important;
}

.row {
	font-size: 20px;
}
footer .row {
	font-size: 15px !important;
}

span.success {
	color: green;
	font-weight: bold;
}

/* logo for navbar */
nav img#nav-logo {
    position: relative;
    height: 55px;
    top: -15px;
}
@media (min-width: 768px) {
    nav img#nav-logo {
	    height: 100px !important;
	    top: -35px !important;
    }
}


/* for the login */
div#login-container {
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 100px;
    display: none;
}

div#login-holder {
    background-color: white;
    padding: 15px;
    border: 2px black solid;
}

div#login-error {
    color: red;
    font-weight: bold;
}

div#login-message {
    color: green;
    font-weight: bold;
}

div#login-div-close-div,div#bad-login-ui-close-div {
    float: right;
}

div#bad-login-ui {
	position: fixed;
	z-index: 99998;
	width: 100%;
	height: 100%;
	background-image: url('/img/beer.jpg');
	display: none;
}

/* for our inputs */
textarea {
    width: 100%;
}
input#number {
    width: 100px;
}
input#map {
    width: 560px;
}

.hidden {
    display: none;
}

li.loadAnnouncement {
    cursor: pointer;
}

.footer div a {
    font-weight: bold;
}

/* for editing our mm users */
td.delete {
    width: 50px;
}

/* for viewing in our harelog */
.hashname {
	cursor: pointer;
}

.close-hare-count {
	position: absolute;
	right: 20px;
}